data/
deps
*.pyc
log
logs
etc
sys.config
/tests/**/nosetests.xml
*.beam
.DS_Store
erl_crash.dump
tags
.pythontags
/Continents.txt
bin/*
include/*
lib/*
man/*
/.Python
local/
/nosetests.xml
/tests/nosetests.xml
release
_rel
/psycopg2
/build
/ct_log
*.app