%%% -*- mode: erlang -*-
{erl_opts,
 [
  debug_info,
  %% bin_opt_info,
  warn_unused_vars,
  warn_shadow_vars,
  warn_unused_import,
  % warnings_as_errors,
  {parse_transform, lager_transform},
  {lager_truncation_size, 4096}
 ]}.

{deps,
 [ { lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "2.0.3"}}}
 , {erlzk, ".*", {git, "git://github.com/huaban/erlzk.git", {branch, "master"}}}
 ]}.
